# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Node
node_modules/
.vite/
/dist/

# Environment
.env
.env.local
.env.*.local

# Docker
docker-compose.override.yml

# Logs
*.log

# Editor
.vscode/
.idea/
*.swp
frontend/dist/
